  .accountForm {
    max-width: 700px;
    margin: auto;
    border: 1px solid black;
    padding: 20px 40px;

    background: #FFFFFF;
    border-radius: 3px;
    box-shadow: 0 10px 10px #888888;
    border: 1px solid $grey;

    #appointmentInformation {
      margin-bottom: 20px;
    }
    .form-row-margin {
      margin: 40px 0 40px 0;
    }

  }
input {
    border-radius: 25px;
    background: #73AD21;
    padding: 20px; 
    width: 200px;
    height: 150px;
}